body {background-color: whitesmoke; text-align: initial;}
div {text-align: center;}
iframe {display: block; margin: auto; text-align: center;}
h1 {color: darkblue; background-color: cyan;}
h3 {color: darkblue; background-color: cyan; line-break: auto;}